.detailsCard {
    margin-top: 20px;
    // width: 350px;
}


.detailsHeading {
    color: #42526e;
    font-weight: 600;
    display: inline;
    font-size: 12px;
}

.cardHeading {
    font-size: 14px;
    font-weight: 600;
    margin:10px 12px 15px 12px;
    // border-bottom: 1px solid #DFE1E6;
}

.initials {
    margin: 10px;
}
.detailsBootomBorder {
      border-bottom: 1px solid #DFE1E6;
}